---
import HomePage from '../layouts/Home.astro';
import NewsPage from '../layouts/News.astro';
import GuidePage from '../layouts/Guide.astro';
import Layout from "../layouts/LandingLayout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Landing Page">
	<div class="w-full" x-data="{ tab: 'HomePage' }">
		<div class="w-full bg-black p-10 top-0">
			<button @click="tab = 'HomePage'" class="color-white bg-white p-10">Home</button>
			<button @click="tab = 'NewsPage'" class="color-white bg-white p-10">News</button>
			<button @click="tab = 'GuidePage'" class="color-white bg-white p-10">Build</button>
		</div>
		<div x-show="tab === 'HomePage'" class="w-full bg-red-500 p-10">
			<HomePage />
		</div>
		<div x-show="tab === 'NewsPage'" class="w-full bg-blue-500 p-10">
			<NewsPage />
		</div>
		<div x-show="tab === 'GuidePage'" class="w-full bg-green-500 p-10">
			<GuidePage />
		</div>
	</div>
</Layout>
